<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note Wrangler</title>
  <link rel="stylesheet" href="assets/styles/bootstrap.css">
  <link rel="stylesheet" href="assets/styles/bootstrap-theme.css">
</head>
<body>
  <h1>Hello Yesenia!</h1>
</body>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-3.1.0.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>

  <!-- App -->
  <!-- Directives -->
  <!-- Controllers -->
  <!-- Services -->
</html>
