<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Note Wrangler</title>
  <link rel="stylesheet" href="assets/styles/bootstrap.css">
  <link rel="stylesheet" href="assets/styles/bootstrap-theme.css">
</head>
<body ng-app="NoteWrangler">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
          <a href="/#/">NoteWrangler</a>
        </div>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/notes">Notes</a></li>
        <li><a href="#/users">Users</a></li>
      </ul>
    </div>
  </nav>
  <div ng-view class="container-fluid"></div>
</body>

  <!-- vendor -->
  <script src="assets/javascript/vendor/jquery-3.1.0.min.js"></script>
  <script src="assets/javascript/vendor/angular.js"></script>
  <script src="assets/javascript/vendor/angular-resource.js"></script>
  <script src="assets/javascript/vendor/angular-route.js"></script>
  <script src="assets/javascript/vendor/bootstrap.js"></script>

  <!-- App -->
  <script src="assets/javascript/app.js"></script>
  <script src="assets/javascript/routes.js"></script>

  <!-- Directives -->

  <!-- Controllers -->
  <script src="assets/javascript/controllers/NotesIndexController.js"></script>
  <script src="assets/javascript/controllers/NotesShowController.js"></script>
  <script src="assets/javascript/controllers/NotesEditController.js"></script>
  <script src="assets/javascript/controllers/NotesCreateController.js"></script>
  <script src="assets/javascript/controllers/UsersIndexController.js"></script>
  <script src="assets/javascript/controllers/UsersShowController.js"></script>

  <!-- Services -->
  <script src="assets/javascript/services/note.js"></script>
  <script src="assets/javascript/services/user.js"></script>
</html>
